@using WordManipulation.Models
@model WordManipulation.ViewModels.CreateVM



    @{
        ViewBag.Title = "Plistiriamsos";
        var Generator = new DropDownGenerator();
    }

    <h2>Plistiriamsos</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>CreateVM</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control", @id="place" } })
            @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" id="sumv">
        @Html.LabelFor(model => model.Sumbolaiografos, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Sumbolaiografos", new SelectList(Generator.GetNotaries(), "Id", "Name", 1), htmlAttributes: new { @class = "form-control", @style = "width:300px" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Baillif, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Baillif", new SelectList(Generator.GetBaillifs(), "Id", "Name", 1), htmlAttributes: new { @class = "form-control", @style = "width:300px" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SelectTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.SelectTime, htmlAttributes: new { @class = "form-control", @style = "width:300px" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Zone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Zone", new SelectList(Generator.GetZones(), "Id", "Name", 1), htmlAttributes: new { @class = "form-control", @style = "width:300px" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Praxh, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Praxh)
        </div>
    </div>
    

    <div id="docDetails">
        <div class="form-group" id="docNum">
            @Html.LabelFor(model => model.DocumentNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DocumentNumber, new { htmlAttributes = new { @class = "form-control", @id = "docN"} })
                @Html.ValidationMessageFor(model => model.DocumentNumber, "", new { @class = "text-danger" })
            </div>
        </div>        
        <div class="form-group" id="ofeil">
            @Html.LabelFor(model => model.Ofeileths, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ofeileths, new { htmlAttributes = new { @class = "form-control", @id = "ofe"} })
                @Html.ValidationMessageFor(model => model.Ofeileths, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default"  />
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="AutoCreate" class="btn btn-default" id="koble" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                
               
                $("#koble").click(function () {
                    $.ajax({
                        url: "/api/AutoComplete",
                        data: {docNum: $("#docN").val(), ofeileths: $("#ofe").val(), place: $("#place").val() },                      
                        dataType: "json",
                        cache: false,
                        type: "GET",
                        success: function (response) {

                        },
                        error: function (xhr) {

                        }
                    });
                });

            })
        </script>
    }
